* {
    font-family: JetBrainsMonoNL NFP, FiraCode Nerd Font, monospace;
    font-size: 10pt;
}

window#waybar {
    background-color: #000000;
    color: #ffffff;
}

#workspaces {
    margin-left: 4px;
    margin-right: 8px;
    padding: 4px 0px;
}

#workspaces button {
    padding: 0px 4px;
    margin: 0px 0px;
    color: #b4befe;
    background-color: transparent;
    border: none;
    border-radius: 0px;
}

/* Disable the default hover effect on workspace buttons */
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
    background: #000000;
    border: #000000;
}

#workspaces button.focused {
    color: #fff;
}

#workspaces button.urgent:not(.focused) {
    color: #ff4d4f;
}

#workspaces button.empty:not(.focused) {
    color: #333;
}

/* Show a bottom border on the current output's workspace button */
/* #workspaces button.current_output {
    margin-top: 1px;
    border-bottom: 1px solid #ffffff;
} */

/* #workspaces button.visible:not(.empty) {
    color: #00e1ff;
} */

#mpris,
#custom-notification,
#custom-healthchecks,
#clock,
#network,
#bluetooth,
#battery,
#backlight,
#pulseaudio,
#language {
    padding: 0 8px;
    background-color: transparent;
    color: #ffffff;
}

#clock {
    padding-right: 4px;
}

#battery.warning {
    color: #f39c12;
}

#battery.critical {
    color: #e74c3c;
}

#pulseaudio.muted {
    color: #999999;
}

#custom-healthchecks.up {
    color: #00ff6a;
}

#custom-healthchecks.late {
    color: #f39c12;
}

#custom-healthchecks.error,
#custom-healthchecks.down {
    color: #eb4d4b;
}
