* {
	background-image: none;
	box-shadow: none;
	text-shadow: none;
	font-size: 20px;
	font-family: JetBrainsMono Nerd Font, FiraCode Nerd Font, monospace;
}

window {
    background-image: url("/tmp/wallpaper_blurred.png");
}

button {
    color: #1e1e2e;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 25%;
	border: none;
	border-radius: 16px;
	background-color: transparent;
}

button:focus, button:active, button:hover {
	background-color: rgba(255, 255, 255, 0.35);
	border: none;
	border-radius: 16px;
}

#lock {
    background-image: url("./icons/lock.svg");
}

#logout {
    background-image: url("./icons/logout.svg");
}

#suspend {
	background-image: url("./icons/sleep.svg");
}

#shutdown {
    background-image: url("./icons/power.svg");
}

#reboot {
    background-image: url("./icons/reboot.svg");
}
