configuration {
    font: "SF Pro Display Propo 13";
    show-icons: true;
    steal-focus: true;
    sort: true;
    sorting-method: "fzf";
    case-sensitive: false;  
    drun-show-actions: true;
    drun-display-format: "{name}";
    timeout {
        action: "kb-cancel";
        delay: 0;
    }
    filebrowser {
        directories-first: true;
        sorting-method: "name";
    }
}

@theme "catppuccin-theme"
